table {
  position: absolute;
  top: 4rem;
  left: 50%;
  transform: translate(-50%);
  width: 600px;
  height: 600px;
  background: tomato;
}
.space {
  width: 90px;
  height: 90px;
  background-color: white;
  border: 5px solid tomato;
  font-family: "Permanent Marker", cursive;
  font-size: 100px;
  text-align: center;
  align-content: center;
}
body {
  background-color: tomato;
}
.playerTurn {
  text-align: left;
  font-family: sans-serif;
  color: black;
}
.playerTurnTwo {
  margin-top: -2.2rem;
  text-align: right;
  font-family: sans-serif;
  color: black;
}
#titleGame {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
#message {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
#circleImg {
  width: 200px;
  height: 200px;
  margin-left: 58rem;
}
#crossImg {
  width: 200px;
  height: 200px;
  margin-top: 5rem;
}
